<div class="navbar bg-base-100 py-3 px-6 shadow-lg fixed top-0 w-full z-50">

  <!-- Sección izquierda: logo + menú hamburguesa móvil -->
  <div class="navbar-start flex-none lg:flex-[0.5]">
    <!-- Dropdown (solo visible en pantallas pequeñas) -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a>Quiénes somos?</a></li>
        <li>
          <details>
            <summary>Productos</summary>
            <ul class="p-2">
              <li><a>Empresas</a></li>
              <li><a>Comercios</a></li>
              <li><a>Estudios Contables</a></li>
              <li><a>Gastronómicos</a></li>
              <li><a>Micro-Emprendimientos</a></li>
            </ul>
          </details>
        </li>
        <li><a>Servicios</a></li>
        <li><a>Contacto</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>

    <!-- Logo -->
    <a routerLink="/" class="btn btn-ghost normal-case text-xl px-2 lg:ml-auto lg:mr-34">
      <img
        src="assets/logosPG/fhPunto-Gestion_BLANCO-sinfondo.png"
        alt="Punto Gestión"
        class="h-14 md:h-24 w-auto"
      />
    </a>
  </div>

  <!-- Menú central -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-semibold text-lg">
      <li><a>Quiénes somos?</a></li>
      <li>
        <details>
          <summary>Productos</summary>
          <ul class="p-2">
            <li><a>Empresas</a></li>
            <li><a>Comercios</a></li>
            <li><a>Estudios Contables</a></li>
            <li><a>Gastronómicos</a></li>
            <li><a>Micro-Emprendimientos</a></li>
          </ul>
        </details>
      </li>
      <li><a>Servicios</a></li>
      <li><a>Contacto</a></li>
    </ul>
  </div>

  <!-- Botones derecha -->
  <div class="navbar-end flex-none lg:flex-[0.5] lg:justify-center space-x-2">
    <a class="btn btn-primary">En Directo</a>
    <a class="btn btn-secondary">Soporte</a>
  </div>
</div>
