.contact-container-wrapper {
  clip-path: url(#wave-clip);
}

/* Texto general */
.contact-container,
.contact-container * {
  color: #f3f3f3;
}

/* Títulos */
.contact-container h2,
.contact-container h3 {
  color: #ffffff;
}

/* Iconos */
.icon-color {
  color: #ffffff !important;
}

/* Inputs */
.contact-container input,
.contact-container textarea {
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.contact-container input::placeholder,
.contact-container textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Inputs activos */
.contact-container input:focus,
.contact-container textarea:focus {
  border-color: #ffb85d; /* tono intermedio del gradiente */
  outline: none;
}

/* Botón */
.contact-container button {
  background: #ffffff;
  color: #7C21BE;
  transition: all 0.3s ease;
}

.contact-container button:hover {
  background: var(--gradient-vio-nar);
  color: #ffffff;
}
/* Responsive */
@media (max-width: 1024px) {
  .contact-container {
    min-height: auto; /* 👈 En tablets se ajusta automáticamente */
  }
}

@media (max-width: 768px) {
  .contact-container {
    min-height: auto; /* 👈 En móviles se ajusta automáticamente */
  }
}
