<section class="relative bg-[#16094f] text-white overflow-hidden">

  <!-- 🔹 Contenido -->
  <div class="relative py-24 px-6 max-w-6xl mx-auto text-center">
    <h2
      class="text-4xl font-bold mb-16 uppercase tracking-wide text-[#ff861b] animate-fadeIn"
    >
      Nuestros Servicios
    </h2>

    <div class="grid gap-12 md:grid-cols-2 lg:grid-cols-3">
      @for (service of services; track $index) {
        <div
          class="card shadow-xl hover:shadow-2xl transition-transform duration-500 transform hover:-translate-y-2 opacity-0 animate-fadeUp bg-[#7c21be] border border-[#fa0052]/30"
          [style.animationDelay]="($index * 0.2) + 's'"
        >
          <div class="card-body items-center text-center">
            <div
              class="rounded-full bg-[#fa0052]/20 p-5 mb-4 text-[#ff861b] text-4xl transition-transform duration-300 hover:rotate-12"
            >
              <i [class]="service.icon"></i>
            </div>
            <h3 class="text-xl font-semibold mb-2 text-white">
              {{ service.title }}
            </h3>
            <p class="text-sm text-white/80">{{ service.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>


</section>
