<footer
  class="bg-gradient-base-alt flex justify-evenly footer sm:footer-horizontal p-6 sm:p-8 text-sm"
>
  <aside class="space-y-2 mt-8">
    <img
      src="assets/logosPG/pg-logo-footer.png"
      alt="Punto Gestión"
      class="h-15 w-auto object-contain mx-auto mb-0"
    />

    <p class="text-xs font-medium leading-snug">
      Distribuidor Oficial Tango Software en Mar del Plata<br />
      Tango Software es marca registrada por Axoft Argentina SA <br />
      © 2025 Punto Gestión — Todos los derechos reservados
    </p>
  </aside>

  <nav class="space-y-0">
    <h6
      class="footer-title bg-clip-text text-transparent bg-gradient-folly text-base mb-2"
    >
      Productos
    </h6>
    <a class="link link-hover">Tango Gestión</a>
    <a class="link link-hover">Tango Puntos de Venta</a>
    <a class="link link-hover">Tango Capital Humano</a>
    <a class="link link-hover">Tango Estudios Contables</a>
    <a class="link link-hover">Tango Restó</a>
    <a class="link link-hover">Tango Nube</a>
  </nav>

  <nav class="space-y-0">
    <h6
      class="footer-title bg-clip-text text-transparent bg-gradient-folly text-base mb-2"
    >
      Punto Gestión
    </h6>
    <a class="link link-hover">Por qué elegirnos?</a>
    <a class="link link-hover">Nosotros</a>
    <a class="link link-hover">Nuestros Clientes</a>
    <a class="link link-hover">Casos de Éxito</a>
  </nav>

  <nav>
    <h6
      class="footer-title bg-clip-text text-transparent bg-gradient-folly text-base mb-2"
    >
      Redes Sociales
    </h6>
    <div class="flex items-center gap-6">
      <a
        href="https://www.instagram.com/puntogestion"
        target="_blank"
        aria-label="Instagram"
        class="text-xl bg-clip-text text-transparent bg-gradient-folly"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a
        href="https://www.facebook.com/puntogestion"
        target="_blank"
        aria-label="Facebook"
        class="text-xl bg-clip-text text-transparent bg-gradient-folly"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
      <a
        href="https://www.linkedin.com/company/puntogestion"
        target="_blank"
        aria-label="LinkedIn"
        class="text-xl bg-clip-text text-transparent bg-gradient-folly"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a
        href="https://www.youtube.com/@puntogestion"
        target="_blank"
        aria-label="YouTube"
        class="text-xl bg-clip-text text-transparent bg-gradient-folly"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
  </nav>

  <nav class="space-y-0">
    <h6
      class="footer-title bg-clip-text text-transparent bg-gradient-folly text-base mb-2"
    >
      Contactanos
    </h6>

    <a href="tel:+542234893423" class="flex items-center gap-2">
      <i
        class="fa-solid fa-phone text-sm bg-clip-text text-transparent bg-gradient-folly"
      ></i>
      <div>
        <p class="font-medium leading-tight">Llamanos</p>
        <p class="text-xs link link-hover">223 489-3423</p>
      </div>
    </a>

    <a
      href="https://wa.me/542235282869"
      target="_blank"
      class="flex items-center gap-2"
    >
      <i
        class="fa-brands fa-whatsapp text-sm bg-clip-text text-transparent bg-gradient-folly"
      ></i>
      <div>
        <p class="font-medium leading-tight">Escribinos</p>
        <p class="text-xs link link-hover">223 155-282869</p>
      </div>
    </a>

    <a href="mailto:info@punto-gestion.com" class="flex items-center gap-2">
      <i
        class="fa-solid fa-envelope text-sm bg-clip-text text-transparent bg-gradient-folly"
      ></i>
      <div>
        <p class="font-medium leading-tight">Mail</p>
        <p class="text-xs link link-hover">infopunto-gestion.com</p>
      </div>
    </a>

    <a
      href="https://maps.google.com/?q=San+Luis+4580,+Mar+del+Plata,+Argentina"
      target="_blank"
      class="flex items-center gap-2"
    >
      <i
        class="fa-solid fa-location-dot text-sm bg-clip-text text-transparent bg-gradient-folly"
      ></i>
      <div>
        <p class="font-medium">Ubicación</p>
        <p class="text-xs link link-hover">
          San Luis 4580 – 4º Piso – Oficina 2 - Mar del Plata
        </p>
      </div>
    </a>

    <div class="flex items-center gap-2">
      <i
        class="fa-solid fa-clock text-sm bg-clip-text text-transparent bg-gradient-folly"
      ></i>
      <div>
        <p class="font-medium leading-tight">Horarios</p>
        <p class="text-xs leading-tight">Lun a Vie: 9:30 a 18:00</p>
        <p class="text-xs leading-tight">Sáb: 9:30 a 13:00</p>
      </div>
    </div>
  </nav>
</footer>
