/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "synthwave";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(15% 0.09 281.288);
  --color-base-200: oklch(20% 0.09 281.288);
  --color-base-300: #7C20BE;
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: #FF861B;
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: #FA0052;
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: #626262;
  --color-neutral-content: oklch(87% 0.065 274.039);
  --color-info: #7C20BE;
  --color-info-content: oklch(70% 0.015 286.067);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

/* ========================================= */
/* CLASES DE ANIMACIÓN FADE-IN-UP (Scroll) */
/* ========================================= */

/* Estado inicial, oculto y desplazado */
.fade-in-up {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 2000ms ease, transform 2000ms ease;
  will-change: opacity, transform; /* más suave */
}

/* Cuando entra en viewport */
.fade-in-up.is-visible {
  opacity: 1;
  transform: translateY(0);
}




/*Fuente */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



/*
@layer utilities {
  .scroll-gradient {
    background: linear-gradient(180deg, #3b82f6, #9333ea, #ec4899);
    background-size: 200% 200%;
    transition: background-position 0.2s ease-out;
  }
}

@layer utilities {
  .scroll-gradient {
    background: linear-gradient(
      180deg,
      #3b82f6,
      #9333ea,
      #ec4899,
      #f59e0b,
      #10b981
    );
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradientFlow 15s ease infinite;
    transition: background-position 0.2s ease-out;
  }

  @keyframes gradientFlow {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
*/
