<section class="w-full relative " style="background-color: #16094f;">
  <!-- Wave superior -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="w-full" preserveAspectRatio="none" style="height: 0px;">
    <path fill="#16094f" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,112C672,96,768,96,864,112C960,128,1056,160,1152,165.3C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  </svg>

  <!-- Carrusel -->
  <div class="carousel w-full h-64 md:h-96 -mt-1" style="background-color: #16094f;">
    <div id="slide1" class="carousel-item relative w-full">
      <img
        src="assets/DELTA5/delta-5.jpeg"
        class="w-full h-full object-cover" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <button (click)="prevSlide()" class="btn btn-circle">❮</button>
        <button (click)="nextSlide()" class="btn btn-circle">❯</button>
      </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
      <img
        src="assets/DELTA5/delta-5.jpeg"
        class="w-full h-full object-cover" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <button (click)="prevSlide()" class="btn btn-circle">❮</button>
        <button (click)="nextSlide()" class="btn btn-circle">❯</button>
      </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
      <img
        src="assets/DELTA5/PNGdelta5/Delta5_Vertical.png"
        class="w-full h-full object-cover" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <button (click)="prevSlide()" class="btn btn-circle">❮</button>
        <button (click)="nextSlide()" class="btn btn-circle">❯</button>
      </div>
    </div>
  </div>
</section>
