<section
  class="relative w-full overflow-hidden theme-bg-primary mt-[-2px] pt-8 md:pt-12"
>
  <svg
  appScrollReveal
  animationClass="fade-in-left"
  [threshold]="0.1"
  [delay]="200"

    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 150"
    preserveAspectRatio="none"
    class="w-full h-32 md:h-40"
  >
    <!-- Definición del gradiente -->
    <defs>
      <linearGradient id="waveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#7C21BE" /> <!-- federal-blue -->
        <stop offset="100%" stop-color="#FA0052" /> <!-- french-violet -->
      </linearGradient>
    </defs>

    <!-- Trazo con gradiente -->
    <path
      fill="none"
      stroke="url(#waveGradient)"
      stroke-width="35"
      d="M0,80 C180,140 360,20 540,80 C720,140 900,20 1080,80 C1260,140 1440,20 1440,20"
    />
  </svg>
</section>

